{
  "presets": ["next/babel"],
  "plugins": [
    "recharts",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
